.converter {
  padding-top: 7px;
  padding-right: 2px;
  padding-left: 2px;
  height: 100%;
  display: inline-block;
  border: 1px solid transparent !important;
  &:hover {
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid white !important;
  }
}
.selected-converter {
  border-color: deepskyblue !important;
}
span{
  font-size: 24px;
}

