.resource-icon-root {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.resource-icon-count {
    position: absolute;
}
.donation-resource-icon {
    border: 1px solid purple;
}