.race-selection {
  .race-preview-card {
    margin: 10px;
    height: 200px;
    width: 300px;
    background-color: lightslategrey;
    cursor: pointer;

    &:hover {
      background-color: cornflowerblue;
    }
  }
  .selected-preview-card {
    background-color: cornflowerblue;
  }
}